@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: normal;
  src: url('Adobe-Arabic-Regular.otf');
  unicode-range: U+0600-06FF;
}

@font-face {
  font-family: 'Merriweather';
  src: url('Adobe-Arabic-Bold.otf');
  font-style: normal;
  font-weight: bold;
  unicode-range: U+0600-06FF;
}

@font-face {
  font-family: 'Merriweather';
  src: url('Adobe-Arabic-Italic.otf');
  font-style: italic;
  font-weight: normal;
  unicode-range: U+0600-06FF;
}

@font-face {
  font-family: 'Merriweather';
  src: url('Adobe-Arabic-Bolditalic.otf');
  font-weight: bold;
  font-style: italic;
  unicode-range: U+0600-06FF;
}
