@font-face {
  font-family: "Franklin";
  src: url("librefranklin-regular.ttf");
}
@font-face {
  font-family: "Franklin";
  src: url("librefranklin-thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "Franklin";
  src: url("librefranklin-extralight.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Franklin";
  src: url("librefranklin-light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Franklin";
  src: url("librefranklin-medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Franklin";
  src: url("librefranklin-semibold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Franklin";
  src: url("librefranklin-extrabold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "Franklin";
  src: url("librefranklin-black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: "Franklin";
  src: url("librefranklin-bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Franklin";
  src: url("librefranklin-italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Franklin";
  src: url("librefranklin-bolditalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Franklin";
  src: url("librefranklin-thinitalic.ttf");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Franklin";
  src: url("librefranklin-extralightitalic.ttf");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Franklin";
  src: url("librefranklin-lightitalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Franklin";
  src: url("librefranklin-mediumitalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Franklin";
  src: url("librefranklin-mediumitalic.ttf");
  font-weight: 500;
  font-style: italic;
}


@font-face {
  font-family: "Franklin";
  src: url("librefranklin-semibolditalic.ttf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Franklin";
  src: url("librefranklin-extrabolditalic.ttf");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Franklin";
  src: url("librefranklin-blackitalic.ttf");
  font-weight: 900;
  font-style: italic;
}
